<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>

    <link rel="stylesheet" type="text/css" href="/static/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />

    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

<div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">Lilies on Lilypond</a></h1>
            </li>
        </ul>
        <section class="top-bar-section">
            {% if currentUser is not null %}
            <ul class="left">
                <li class="{% block a_music %}{% endblock %}"><a href="/admin/music/"><i class="fa fa-music"></i> music</a></li>
                <li class="{% block a_author %}{% endblock %}" ><a href="/admin/author/">author</a></li>
                <li class="{% block a_instrument %}{% endblock %}" ><a href="/admin/instrument/">instrument</a></li>
                <li class="{% block a_difficulty %}{% endblock %}" ><a href="/admin/difficulty/">difficulty</a></li>
            </ul>
            <ul class="right">
                <li class="{% block a_password %}{% endblock %}"><a href="/admin/password/"><i class="fa fa-lock"></i> Смена пароля</a></li>
            </ul>
            {% endif %}
        </section>
    </nav>
</div>


<div class="row">

    {% block cmd %}{% endblock %}

    {% block content %}{% endblock %}

</div>

<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/foundation.min.js"></script>
{% block customjs %}{% endblock %}

</body>
</html>