<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/chosen.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/chosen-bootstrap.css" />

    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Lilies on Lilypond</a>
        </div>

        {% if currentUser is not null %}
        <ul class="nav navbar-nav navbar-left">
            <li class="{% block a_music %}{% endblock %}"><a href="/admin/music/"><i class="fa fa-music"></i> партитуры</a></li>
            <li class="{% block a_author %}{% endblock %}" ><a href="/admin/author/">авторы</a></li>
            <li class="{% block a_instrument %}{% endblock %}" ><a href="/admin/instrument/">инструменты</a></li>
            <li class="{% block a_difficulty %}{% endblock %}" ><a href="/admin/difficulty/">сложности</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="{% block a_password %}{% endblock %}"><a href="/admin/password/"><i class="fa fa-lock"></i> Смена пароля</a></li>
        </ul>
        {% endif %}
    </div>
</nav>

<div class="container">
    <div class="row-fluid page-header">
        {% block cmd %}{% endblock %}
    </div>

    {% block content %}{% endblock %}
</div>

<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/sweetalert.min.js"></script>
<script src="/static/js/chosen.jquery.min.js"></script>
{% block custom_js %}{% endblock %}

</body>
</html>