{% extends 'admin/index' %}

{% block a_author %}active{% endblock %}

{% block content %}
<h3>Добавление автора</h3>
<form action="/admin/author/save/" method="POST">
    <label>Фамилия
        <input type="text" name="lastName" />
    </label>
    <label>Имя
        <input type="text" name="firstName" />
    </label>
    <label>Отчество
        <input type="text" name="middleName" />
    </label>

    <button class="button small" type="submit"><i class="fa fa-save"></i> Сохранить</button>
</form>
{% endblock %}