{% extends 'admin/index' %}

{% block cmd %}
    <a class="button" href="/admin/author/add/">add author</a>
{% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
    </tr>
    </thead>
    <tbody>
    {% for author in authorList %}
    <tr>
        <td>{{ author.lastName }}</td>
        <td>{{ author.firstName }}</td>
        <td>{{ author.middleName }}</td>
        <td><a href="/admin/author/delete/">delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}