{% extends 'admin/index' %}

{% block a_difficulty %}active{% endblock %}

{% block cmd %}
{% if difficulty.rating is null %}
<h3>Добавление сложности</h3>
{% else %}
<h3>Редактирование</h3>
{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-5">
    <form action="/admin/difficulty/save/" method="POST" class="form-horizontal">
        <div class="form-group">
            <label for="rating" class="col-sm-2 control-label">Рейтинг</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="rating" name="rating" value="{{rating}}" />
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Описание</label>
            <div class="col-sm-10">
                <input class="form-control" id="description" type="text" name="name" value="{{name}}" />
            </div>
        </div>

        <button class="btn btn-primary col-sm-offset-2" type="submit"><i class="fa fa-save"></i> Сохранить</button>
    </form>
</div>
{% endblock %}