{% extends 'admin/index' %}

{% block a_difficulty %}active{% endblock %}

{% block cmd %}
    <a class="button small" href="/admin/difficulty/add/"><i class="fa fa-plus"></i> Добавить сложность</a>
{% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
        <th>Рейтинг</th>
        <th>Описание</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for diff in difficultyList %}
    <tr>
        <td>{{ diff.rating }}</td>
        <td>{{ diff.name }}</td>
        <td><a href="#" onclick="deleteDifficulty('{{diff.rating}}')"><i class="fa fa-trash-o"></i> </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}