{% extends 'admin/index' %}

{% block a_difficulty %}active{% endblock %}

{% block cmd %}
    <a class="button" href="/admin/difficulty/add/">add difficulty</a>
{% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
        <th>Рейтинг</th>
        <th>Описание</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for diff in difficultyList %}
    <tr>
        <td>{{ diff.rating }}</td>
        <td>{{ diff.name }}</td>
        <td><a href="/admin/difficulty/delete/" >delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}