{% extends 'admin/index' %}

{% block cmd %}
    <a class="button" href="/admin/instrument/add/">add instrument</a>
{% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Slug</th>
    </tr>
    </thead>
    <tbody>
    {% for instrument in instrumentList %}
        <tr>
            <td>{{ instrument.id }}</td>
            <td>{{ instrument.name }}</td>
            <td>{{ instrument.slug }}</td>
            <td><a href="/admin/instrument/delete/">delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}