{% extends 'admin/index' %}

{% block a_instrument %}active{% endblock %}

{% block cmd %}
    <a class="btn btn-default btn-sm" href="/admin/instrument/add/"><i class="fa fa-plus"></i> Добавить инструмент</a>
{% endblock %}

{% block content %}
<div class="col-md-6">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Slug</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for instrument in instrumentList %}
        <tr>
            <td>{{ instrument.id }}</td>
            <td><a href="/admin/instrument/{{instrument.id}}/">{{ instrument.name }}</a></td>
            <td>{{ instrument.slug }}</td>
            <td>
                <a href="#" onclick="deleteInstrument('{{instrument.id}}')"><i class="fa fa-trash-o"></i> </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}