{% extends 'admin/index' %}

{% block a_instrument %}active{% endblock %}

{% block cmd %}
    <a class="button" href="/admin/instrument/add/">add instrument</a>
{% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Slug</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for instrument in instrumentList %}
        <tr>
            <td>{{ instrument.id }}</td>
            <td>{{ instrument.name }}</td>
            <td>{{ instrument.slug }}</td>
            <td><a href="#" onclick="del('{{instrument.id}}')">delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block customjs %}
<script>
    function del(id) {
        $.post('/admin/instrument/delete/', {'id': id}).success(reloadTable());
    }

    function reloadTable() {

    }

    $(function() {
        reloadTable();
    });
</script>
{% endblock %}