{% extends 'admin/index' %}

{% block cmd %}
<h2 class="text-center">Вход в систему</h2>
{% endblock %}

{% block content %}
<div class="col-md-offset-3 col-md-6">
    {% if error %}
    Invalid username and password
    {% endif %}

    {% if logout %}
    You have been logged out.
    {% endif %}

    <form action="/admin/login/" method="POST" class="form-horizontal">
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}" />
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Имя</label>
            <div class="col-sm-10">
                <input type="text" name="username" id="username" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Пароль</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i> Войти</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}