{% extends 'admin/index' %}

{% block a_music %}active{% endblock %}

{% block cmd %}
    <a class="button small" href="/admin/music/add/"><i class="fa fa-plus"></i> Добавить</a>
{% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Подимя</th>
        <th>Композитор</th>
        <th>Автор</th>
        <th>Сложность</th>
        <th>Инструмент</th>
        <th>Ly?</th>
        <th>Pdf?</th>
        <th>Mp3?</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for music in musicList %}
    <tr>
        <td>{{ music.name }}</td>
        <td>{{ music.subName }}</td>
        <td>
            {{ music.composer|join(", ")}}
        </td>
        <td>
            {{ music.writer|join(", ")}}
        </td>
        <td>{{ music.difficulty.str }}</td>
        <td>
            {{ music.instrument|join(", ")}}
        </td>
        <td>{{ music.hasSrc|yes|raw }}</td>
        <td>{{ music.hasPdf|yes|raw }}</td>
        <td>{{ music.hasMp3|yes|raw }}</td>
        <td>
            <a onclick="deleteMusic('{{ music.id }}')" href="#"><i class="fa fa-trash-o"></i> </a>
            <a onclick="editMusic('{{ music.id }}')" href="#"><i class="fa fa-pencil"></i> </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
