{% extends 'admin/index' %}

{% macro pagination(current, begin, end, pageList) %}
<div class="row-fluid text-center">
<nav>
    <ul class="pagination">
        <li class="{% if current == 1 %}disabled{% endif %}"><a href="/admin/music/1/">&lt;&lt;</a></li>
        <li class="{% if current == 1 %}disabled{% endif %}"><a href="/admin/music/{{current-1}}/">&lt;</a></li>

        {% for i in pageList %}
        <li class="{% if current == i %}active{% endif %}"><a href="/admin/music/{{i}}/">{{i}}</a></li>
        {% endfor %}

        <li class="{% if current+1 > end %}disabled{% endif %}"><a href="/admin/music/{{current+1}}/">&gt;</a></li>
        <li class="{% if current+1 > end %}disabled{% endif %}"><a href="/admin/music/{{end}}/">&gt;&gt;</a></li>
    </ul>
</nav>
</div>
{% endmacro %}

{% block a_music %}active{% endblock %}

{% block cmd %}
    <a class="btn btn-sm btn-default" href="/admin/music/add/"><i class="fa fa-plus"></i> Добавить</a>
    {{pagination(current, begin, end, pageList)}}
{% endblock %}

{% block content %}
<table class="table table-condensed">
    <thead>
    <tr>
        <th>Название</th>
        <th>Подимя</th>
        <th>Композитор</th>
        <th>Автор</th>
        <th>Сложность</th>
        <th>Инструмент</th>
        <th>Ly?</th>
        <th>Pdf?</th>
        <th>Mp3?</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for music in musicList %}
    <tr>
        <td><a href="/admin/music/edit/{{music.id}}/">{{ music.name }}</a></td>
        <td>{{ music.subName }}</td>
        <td>
            {% for composer in music.composer %}{{ composer.print }}<br/>{% endfor %}
        </td>
        <td>
            {% for writer in music.writer %}{{ writer.print }}<br/>{% endfor %}
        </td>
        <td>{{ music.difficulty.print }}</td>
        <td>
            {% for inst in music.instrument %}{{ inst.print }}<br/>{% endfor %}
        </td>
        <td>{{ music.hasSrc|yes|raw }}</td>
        <td>{{ music.hasPdf|yes|raw }}</td>
        <td>{{ music.hasMp3|yes|raw }}</td>
        <td>
            <a href="#" onclick="regenerate('{{ music.id }}')"><i class="fa fa-refresh"></i></a>
        </td>
        <td>
            <a href="#" onclick="deleteMusic('{{ music.id }}')"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block content_footer %}
{{pagination(current, begin, end, pageList)}}
{% endblock %}