{% extends 'admin/index' %}

{% block a_music %}active{% endblock %}

{% block cmd %}
<h3>Добавление партитуры</h3>
{% endblock %}

{% block content %}
<form method="POST" action="/admin/music/save/" enctype="multipart/form-data" class="form-horizontal">

    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Название</label>
        <div class="col-sm-9">
            <input type="text" name="name" class="form-control" id="name" value="{{music.name}}" />
        </div>
    </div>

    <div class="form-group">
        <label for="subname" class="col-sm-3 control-label">подИмя</label>
        <div class="col-sm-9">
            <input class="form-control" id="subname" type="text" name="subname" value="{{music.subname}}" />
        </div>
    </div>

    <div class="form-group">
        <label for="composer-select" class="col-sm-3 control-label">Композиторы</label>
        <select name="composer" class="col-sm-9" id="composer-select" multiple data-placeholder="Композиторы">
            {% for author in authors %}<option value="{{author.id}}">{{author}}</option>{% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="writer-select" class="col-sm-3 control-label">Авторы</label>
        <select name="writer" class="col-sm-9" id="writer-select" multiple data-placeholder="Авторы">
            {% for author in authors %}<option value="{{author.id}}">{{author}}</option>{% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="difficulty-select" class="col-sm-3 control-label">Сложность</label>
        <select name="difficulty" class="col-sm-9" id="difficulty-select" data-placeholder="Сложность">
            {% for diff in difficulties %}<option value="{{diff.rating}}">{{ diff.str }}</option>{% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="instrument-select" class="col-sm-3 control-label">Инструменты</label>
        <select name="instrument" class="col-sm-9" multiple id="instrument-select" data-placeholder="Инструменты">
            {% for instrument in instruments %}<option value="{{instrument.slug}}">{{instrument}}</option>{% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="srcfile" class="col-sm-3 control-label">ly-файл</label>
        <div class="col-sm-9">
            <input type="file" name="src_file" id="srcfile" />
        </div>
    </div>

    <button class="col-sm-offset-3 btn btn-primary" type="submit"><i class="fa fa-save"></i> Сохранить</button>
</form>
{% endblock %}

{% block custom_js %}
<script>
    $(function() {
        $("#composer-select").chosen();
        $("#writer-select").chosen();
        $("#difficulty-select").chosen();
        $("#instrument-select").chosen();
    })
</script>
{% endblock %}