{% extends 'admin/index' %}

{% block a_music %}active{% endblock %}

{% block content %}
{{ fields }}
<form method="POST" action="/admin/music/save/" enctype="multipart/form-data">
    <label>Название
        <input type="text" name="name" />
    </label>
    <label>подИмя
        <input type="text" name="subName" />
    </label>
    <label>Композитор
        <select name="composer" id="composer-select" multiple>
            {% for author in authors %}<option value="{{author}}">{{author.str}}</option>{% endfor %}
        </select>
    </label>
    <label>Автор
        <select name="writer" id="writer-select" multiple>
            {% for author in authors %}<option value="{{author}}">{{author.str}}</option>{% endfor %}
        </select>
    </label>
    <label>Сложность
        <select name="difficulty" id="difficulty-select">
            {% for diff in difficulties %}<option value="{{diff.rating}}">{{ diff.str }}</option>{% endfor %}
        </select>
    </label>
    <label>Инструмент
        <select name="instrument" multiple id="instrument-select">
            {% for instrument in instruments %}<option value="{{instrument.slug}}">{{instrument.name}}</option>{% endfor %}
        </select>
    </label>
    <label>ly-файл
        <input type="file" name="src_file" />
    </label>

    <button class="button" type="submit">Сохранить</button>
</form>
{% endblock %}