{% extends 'admin/index' %}

{% block a_password %}active{% endblock %}

{% block cmd %}
<h2>Смена пароля</h2>
{% endblock %}

{% block content %}
{{ fields }}
<div class="col-md-6">
    <form action="/admin/password/save/" method="POST" class="form-horizontal">
        <div class="form-group {% if fields.hasFieldErrors('username') %}has-error{% endif %}">
            <label class="col-sm-3 control-label" for="name">Имя</label>
            <div class="col-sm-9">
                <input class="form-control" id="name" type="text" name="username" value="{{currentUser.username}}" />
                {% if fields.hasFieldErrors('username') %}<span class="help-block">Не найден пользователь</span>{% endif %}
            </div>
        </div>

        <div class="form-group {% if fields.hasFieldErrors('password') %}has-error{% endif %}">
            <label class="col-sm-3 control-label" for="password">Пароль</label>
            <div class="col-sm-9">
                <input class="form-control" id="password" type="password" name="password" />
                {% if fields.hasFieldErrors('password') %}<span class="help-block">Ошибка пароля</span>{% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="confirm">Повтор пароля</label>
            <div class="col-sm-9">
                <input class="form-control" id="confirm" type="password" name="passwordRepeat" />
            </div>
        </div>

        <button class="col-sm-offset-3 btn btn-primary" type="submit"><i class="fa fa-sign-in"></i> Сменить</button>
    </form>
</div>
{% endblock %}