{% extends 'admin/index' %}

{% block a_password %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="medium-offset-3 medium-6 columns">
        <h2>Смена пароля</h2>
    </div>
</div>

{{ errors }}

<form action="/admin/password/save/" method="POST">
    <div class="row">
        <div class="medium-offset-3 medium-6 columns">
            <label class="error">Имя
                <input type="text" name="username" value="{{currentUser.username}}" />
            </label>
            <small class="error">Invalid entry</small>
        </div>
    </div>
    <div class="row">
        <div class="medium-offset-3 medium-6 columns">
            <label>Пароль
                <input type="password" name="password" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-offset-3 medium-6 columns">
            <label>Повтор пароля
                <input type="password" name="passwordRepeat" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-offset-3 medium-6 columns">
            <button class="button" type="submit"><i class="fa fa-sign-in"></i> Сменить</button>
        </div>
    </div>
</form>
{% endblock %}