{% extends "index" %}

{% block a_about %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <h2 class="display-4">О сервисе</h2>
        <p class="text-justify">
            Однажды мне понадобилось собрать воедино все ноты, которые остались у меня со времен обучения в музыкальной школе.
            Так как в то время о компьютерах и не слышали, то все ноты либо ксерокопировались из сборников, либо переписывались в нотную тетрадь.
            Естественно, их качество оставляло желать лучшего. Несколько лет назад я открыл для себя программу
            <a href="https://lilypond.org/">Lilypond</a>, которая предназначена для создания музыкальных партитур.
            За небольшой промежуток времени я переделал большинство нот из своей коллекции и сделал сайт, на котором начал выкладывать ноты.
        </p>
        <h3 class="display-4">Горячие клавиши</h3>
        Для управления плеером и просмотром можно использовать
        <ul class="list-unstyled keys">
            <li><kbd>P</kbd> &nbsp; играть композицию</li>
            <li><kbd>&larr;</kbd> &nbsp; предыдущая страница</li>
            <li><kbd>&rarr;</kbd> &nbsp; следующая страница</li>
        </ul>
    </div>
    <div class="col text-end">
        Всего на сайте {{ sheets }} партитур для {{ instruments }} инструментов.
    </div>
</div>
{% endblock %}