{% block content %}
{% regroup object_list by name|upper|first as musics %}

<div>
    {% for obj_list in musics %}
    <h3>{{ obj_list.key }}</h3>
    <ul class="list-unstyled">
        {% for obj in obj_list.value|sort %}
        <li>
            <a class="text-decoration-none" href="/sheet/{{obj.id}}/">
                <small class="text-muted">{% for c in obj.composer %}{{ c.name }} {% endfor %}</small>
                {{ obj.name }}
                <small class="text-muted">{{ obj.subname }}</small>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    Ничего нет
    {% endfor %}
</div>
{% endblock %}
