{% extends 'index' %}

{% block title %}{{ object.name }} - {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 text-end">
            <dl>
                {% if object.composers.size > 0 %}
                <dt>Композитор</dt>
                <dd>{% for composer in object.composers %}{{ composer.name }}<br/>{% endfor %}</dd>
                {% endif %}

                {% if object.writers.size > 0 %}
                <dt>Слова</dt>
                <dd>{% for writer in object.writers %}{{ writer.name }}<br/>{% endfor %}</dd>
                {% endif %}

                {% if object.instruments.size > 0 %}
                <dt>Инструмент</dt>
                <dd>{% for inst in object.instruments %}{{ inst.name }}<br/>{% endfor %}</dd>
                {% endif %}

                <dt>Сложность</dt>
                <dd>{{ object.difficulty.rating|stars|raw }}</dd>
            </dl>
            <div class="btn-group-vertical" role="group">
                {% if object.storage.hasMp3 %}
                <a class="btn btn-outline-dark audio-control">
                    <audio src="/media/{{ object.storage.mp3Fn }}" id="sheet-{{ object.id }}" type="audio/mpeg"
                           preload="none"></audio>
                    <i class="fas fa-music"></i> Слушать</a>
                {% endif %}
                {% if object.storage.hasPdf %}
                <a class="btn btn-outline-dark" target="_blank" href="/media/{{ object.storage.pdfFn }}">
                    <i class="fas fa-save"></i> PDF</a>
                {% endif %}
                {% if object.storage.hasSrc %}
                <a class="btn btn-outline-dark" target="_blank" href="/media/{{ object.storage.srcFn }}">
                    <i class="fas fa-file"></i> .ly файл</a>
                {% endif %}
            </div>
        </div>
        <canvas class="col-10" id="pdf-canvas"></canvas>
    </div>
</div>

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item" id="pdf-prev"><a class="page-link" href="#" onclick="goPrev()"><i class="fas fa-angle-left"></i> Предыдущая страница</a></li>
        <li class="page-item" id="pdf-next"><a class="page-link" href="#" onclick="goNext()">Следующая страница <i class="fas fa-angle-right"></i></a></li>
    </ul>
</nav>
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="/js/pdf.js"></script>
<script type="text/javascript">
    pdfjsLib.GlobalWorkerOptions.workerSrc = '/js/pdf.worker.js';
    var pdfdoc = null,
        pageNum = 1,
        canvas = document.getElementById("pdf-canvas"),
        ctx = canvas.getContext("2d");

    function renderPage(num) {
        pdfdoc.getPage(num).then(function (page) {
            var scale = 1025 / page.getViewport({scale: 1.0}).width;
            var viewport = page.getViewport({scale: scale});
            canvas.height = viewport.height;
            canvas.width = viewport.width;
            var renderContext = {canvasContext: ctx, viewport: viewport};
            page.render(renderContext);

            var next = $("#pdf-next"), prev = $("#pdf-prev");
            prev.removeClass("disabled");
            next.removeClass("disabled");
            if (num === pdfdoc.numPages) {
                next.addClass("disabled");
            }
            if (num === 1) {
                prev.addClass("disabled");
            }
        });
    }

    function goPrev() {
        if (pageNum <= 1) return;
        --pageNum;
        renderPage(pageNum);
    }

    function goNext() {
        if (pageNum >= pdfdoc.numPages) return;
        ++pageNum;
        renderPage(pageNum);
    }

    const loadTask = pdfjsLib.getDocument("/media/{{ object.storage.pdfFn }}");
    (async () => {
        pdfdoc = await loadTask.promise;
        renderPage(pageNum);
    })();

    function audio_play(object) {
        var i = object.children("i");

        var id = object.children("audio").attr("id");
        var audio = document.getElementById(id);
        audio.addEventListener("ended", function () {
            i.removeClass("fa-pause").addClass("fa-music");
        });

        if (audio.paused) {
            i.removeClass("fa-music").addClass("fa-pause");
            audio.play();
        } else {
            i.removeClass("fa-pause").addClass("fa-music");
            audio.pause();
            audio.currentTime = 0;
        }
    }

    $(function () {
        $(".audio-control").click(function () {
            audio_play($(this));
        });
        $(document).keypress(function (event) {
            if (event.which === 112) audio_play($(".audio-control"));
        })
    });

    $(document).keyup(function (event) {
        if (event.keyCode === 37) goPrev();
        if (event.keyCode === 39) goNext();
    });
</script>
{% endblock %}