<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}Lilies on Lilypond</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
</head>
<body>

<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Lilies on Lilypond</a>
        <form class="d-flex" role="search" action="/search/">
            <input class="form-control me-2" type="text" placeholder="По нотному архиву" name="query"
                   value="{{ query }}"/>
        </form>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% block a_about %}{% endblock %}" href="/about/">О сервисе</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block header %}{% endblock %}

    {% block content %}
    <div class="row">
        <div class="col-3">
            <img alt="logo" src="/img/logo.png" class="logo">
            <h3>Инструмент</h3>
            {% for i in instruments %}
            <div class="checkbox">
                <label>
                    <input class="instruments" checked value="{{ i.slug }}" type="checkbox"> {{ i.name }}
                </label>
            </div>
            {% endfor %}

            <h3>Сложность</h3>
            {% for d in difficulties %}
            <div class="checkbox">
                <label>
                    <input class="difficulties" checked value="{{ d.rating }}" type="checkbox"> {{ d.rating|stars|raw }}
                    <small class="text-muted">{{ d.name }}</small>
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="col-8" id="content">
            <img alt="preloader" id="preloader" src="/img/preloader2.gif" class="img-responsive center-block"/>
        </div>
    </div>
    {% endblock %}
</div>

<footer class="container">
    <hr/>
    <div class="row">
        <div class="col-4">
            <ul class="list-unstyled">
                <li><a href="/about/">О сервисе</a></li>
            </ul>
        </div>
        <div class="col-4"></div>
        <div class="col-4 text-end">
            Сергей Бочков,
            <script>
                var year = new Date().getFullYear();
                if (year > 2015) document.write("2015&ndash;" + year);
                else document.write("2015");
            </script>
            <br/>
            <a href="mailto:bochkov.sa@gmail.com">bochkov.sa@gmail.com</a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
{% block custom_js %}
<script>
    function load() {
        $("#preloader").show();
        let instruments = [], difficulties = [];
        $(".instruments").each(function (index) {
            if ($(this).is(":checked")) instruments.push($(this).attr("value"));
            else delete instruments[index];
        });
        $(".difficulties").each(function (index) {
            if ($(this).is(":checked")) difficulties.push($(this).attr("value"));
            else delete difficulties[index];
        });
        $.post("/a/music/",
            {'difficulties[]': difficulties, 'instruments[]': instruments},
            function (data) {
                $("#preloader").hide();
                $("#content").html(data);
            });
    }

    $(function () {
        $("input").click(function () {
            load();
        });
        load();
    });
</script>
{% endblock %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(44549657, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/44549657" style="position:absolute; left:-9999px;" alt="" /></div></noscript> 
<!-- /Yandex.Metrika counter -->

</body>
</html>