<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}Lilies on Lilypond</title>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(44549657, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/44549657" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
          integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/5.4.149/pdf_viewer.min.css"
          integrity="sha512-qbvpAGzPFbd9HG4VorZWXYAkAnbwKIxiLinTA1RW8KGJEZqYK04yjvd+Felx2HOeKPDKVLetAqg8RIJqHewaIg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"
            integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Lilies on Lilypond</a>
        <form class="d-flex" role="search" action="/search/">
            <input class="form-control me-2" type="text" placeholder="По нотному архиву" name="query"
                   value="{{ query }}"/>
        </form>

        <ul class="nav nav-underline">
            <li class="nav-item">
                <a class="nav-link {% block a_about %}{% endblock %}" href="/about/">О сервисе</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block header %}{% endblock %}

    {% block content %}
    <div class="row">
        <div class="col-3">
            <img alt="logo" src="/img/logo.png" class="logo">

            <div class="row mt-4">
                <h5>Инструмент</h5>
                {% for i in instruments %}
                <div class="checkbox">
                    <label class="checkboxes">
                        <input class="instruments" checked value="{{ i.slug }}" type="checkbox"/>
                        {{ i.name }}
                    </label>
                </div>
                {% endfor %}
            </div>

            <div class="row mt-4">
                <h5>Сложность</h5>
                {% for d in difficulties %}
                <div class="checkbox">
                    <label class="checkboxes">
                        <input class="difficulties" checked value="{{ d.rating }}" type="checkbox"/>
                        {{ d.rating|stars|raw }}
                        <small class="text-muted">{{ d.name }}</small>
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-8" id="content">
            <img alt="preloader" id="preloader" src="/img/preloader2.gif" class="img-responsive center-block"/>
        </div>
    </div>
    {% endblock %}
</div>

<footer class="container">
    <hr/>
    <div class="row">
        <div class="col-4">
            <ul class="list-unstyled">
                <li><a href="/about/">О сервисе</a></li>
            </ul>
        </div>
        <div class="col-4"></div>
        <div class="col-4 text-end">
            Сергей Бочков,
            <script>
                var year = new Date().getFullYear();
                if (year > 2015) document.write("2015&ndash;" + year);
                else document.write("2015");
            </script>
            <br/>
            <a href="mailto:bochkov.sa@gmail.com">bochkov.sa@gmail.com</a>
        </div>
    </div>
</footer>

{% block custom_js %}
<script>
    function load() {
        $("#preloader").show();
        let instruments = [], difficulties = [];
        $(".instruments").each(function (index) {
            if ($(this).is(":checked")) instruments.push($(this).attr("value"));
            else delete instruments[index];
        });
        $(".difficulties").each(function (index) {
            if ($(this).is(":checked")) difficulties.push($(this).attr("value"));
            else delete difficulties[index];
        });
        $.post("/a/music/",
            {'difficulties[]': difficulties, 'instruments[]': instruments},
            function (data) {
                $("#preloader").hide();
                $("#content").html(data);
            });
    }

    $(function () {
        $("input").click(function () {
            load();
        });
        load();
    });
</script>
{% endblock %}

</body>
</html>