body {
    padding-top: 90px;
    padding-bottom: 90px;
}

.checkboxes {
    font-size: 0.9em;
}

.icon-success {
    color: green;
}

.icon-error {
    color: red;
}

#preloader {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}